form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
form input {
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px;
  border: none;
  box-shadow: gray 0 0 10px 0;
}
form input:focus {
  outline: none;
}

form input[type="submit"] {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}
