.postContianer {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 3px solid rgb(51, 150, 153);
  box-shadow: gainsboro 0px 0px 20px 0px;
  padding: 10px 30px;
  text-align: center;
}
