.btn {
  flex: 0 0 1;
  background-color: purple;
  color: white;
  padding: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  box-shadow: grey 0px 0px 10px 0px;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: rgb(51, 150, 153);
}
